<section id="about">
    <img src="../../public/perfil.jpeg" alt="profile photo" id="about-img">
    <div id="about-info">
        <h1 id="about-name">Hi! I'm Manuel Ramiro</h1>
        <p id="about-desc">I'm a web developer passionate about technologies and in constant learning, I have worked on some full stack projects</p>
    </div>
</section>

<style>
    #about-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-left: 20px;
    }
    #about {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 30px 0;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
        background-color: var(--dark);
    }

    #about-info {
        margin: 0 30px;
    }
</style>