<footer>
    <div class="contacto">
        <h2>Contacto</h2>
        <p>Telefono: 633348057</p>
        <p>Email: manuelramzab@gmail.com</p>
    </div>
</footer>
<style>
    footer {
        background-color: var(--dark_intense);
        color: white;
        padding: 20px;
        text-align: center;
    }
    .contacto {
        margin-top: 20px;
    }
    .contacto h2 {
        margin-bottom: 10px;
    }
    .contacto p {
        margin: 0;
    }
</style>