---
import type { ComponentInstance } from "astro";

interface Proyect {
    name: string;
    description: string;
    img: string;
}
const { name, description, tech, img } = Astro.props
---
<article>
    <img src={ img } alt="">
    <h2 class="proyect-name">{ name }</h2>
    <p class="proyect-desc">{ description }</p>
    <ul class="proyect-tech">
        <slot />
    </ul>
</article>

<style>
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
        border-radius: 10px;
        background-color: #333;
        
    }
    article img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
    }

    .proyect-tech {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }

    .proyect-tech li {
        margin: 0 0.5rem;
    }

    .proyect-name {
        margin: 0.5rem 0;
    }

    .proyect-desc {
        text-align: center;
    }
</style>