---
import type { ComponentInstance } from "astro";

interface Proyect {
    name: string;
    route: string;
    description: string;
    img: string;
}
const { name, route, description, tech, img } = Astro.props
---
<article>
    <a href={`/proyects/${route}`} >
        <img class="proyect-img" src={ img } alt="">
        <div class="proyect-info">
            <h2 class="proyect-name">{ name }</h2>
            <p class="proyect-desc">{ description }</p>
            <ul class="proyect-tech">
                <slot />
            </ul>
        </div>
    </a>
</article>

<style>
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        padding: 1.5rem;
        border-radius: 10px;
        background-color: #333;
        cursor: pointer;
        transition: box-shadow 0.3s ease;
    }
    article:hover {
        box-shadow: 0 0 10px 5px #333;
    }
    article a{
        text-decoration: none;
        color: white;
        width: 100%;
        height: 100%;
    }
    .proyect-img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 5px;
    }

    .proyect-tech {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }

    .proyect-tech li {
        margin: 0 0.5rem;
    }
</style>